*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

html {
  font-family: 'PT Sans', sans-serif;
  font-size: 62.5%;
  margin: 0;
  padding: 0; }

body {
  margin: 0;
  padding: 0; }

.container {
  width: 90%;
  max-width: 960px;
  margin: 0 auto; }

.row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column; }

.column {
  margin: 0 10px 10px 10px; }

@media (min-width: 599px) {
  .container {
    width: 100%; }
  .row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-direction: row;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap; }
  .column.col-1-md {
    width: -webkit-calc((100% - 20px * 12) / 12);
    width: calc((100% - 20px * 12) / 12); }
  .column.col-2-md {
    width: -webkit-calc(((100% / 12) * 2 ) - 20px);
    width: calc(((100% / 12) * 2 ) - 20px); }
  .column.col-3-md {
    width: -webkit-calc(((100% / 12) * 3 ) - 20px);
    width: calc(((100% / 12) * 3 ) - 20px); }
  .column.col-4-md {
    width: -webkit-calc(((100% / 12) * 4 ) - 20px);
    width: calc(((100% / 12) * 4 ) - 20px); }
  .column.col-5-md {
    width: -webkit-calc(((100% / 12) * 5 ) - 20px);
    width: calc(((100% / 12) * 5 ) - 20px); }
  .column.col-6-md {
    width: -webkit-calc(((100% / 12) * 6 ) - 20px);
    width: calc(((100% / 12) * 6 ) - 20px); }
  .column.col-7-md {
    width: -webkit-calc(((100% / 12) * 7 ) - 20px);
    width: calc(((100% / 12) * 7 ) - 20px); }
  .column.col-8-md {
    width: -webkit-calc(((100% / 12) * 8 ) - 20px);
    width: calc(((100% / 12) * 8 ) - 20px); }
  .column.col-9-md {
    width: -webkit-calc(((100% / 12) * 9 ) - 20px);
    width: calc(((100% / 12) * 9 ) - 20px); }
  .column.col-10-md {
    width: -webkit-calc(((100% / 12) * 10 ) - 20px);
    width: calc(((100% / 12) * 10 ) - 20px); }
  .column.col-11-md {
    width: -webkit-calc(((100% / 12) * 11 ) - 20px);
    width: calc(((100% / 12) * 11 ) - 20px); }
  .column.col-12-md {
    width: -webkit-calc(((100% / 12) * 12 ) - 20px);
    width: calc(((100% / 12) * 12 ) - 20px); } }

.btn {
  cursor: pointer;
  border: none;
  outline: none; }
  .btn__solid {
    color: #010101;
    background-color: #fcdb00;
    width: 100%;
    max-width: 126px;
    height: 50px;
    text-transform: uppercase;
    font-size: 1.6em;
    font-weight: bold;
    -webkit-border-radius: 5px;
            border-radius: 5px; }

.header {
  background-color: #fcdb00; }
  .header__row {
    padding-top: 50px;
    -webkit-box-align: end;
    -webkit-align-items: flex-end;
        -ms-flex-align: end;
            align-items: flex-end; }
  .header__logo {
    margin-right: auto; }

.menu__list {
  list-style: none;
  padding: 0;
  margin: 0; }

.menu__item {
  display: inline-block;
  margin-left: 78px; }

.menu__link {
  text-decoration: none;
  font-size: 2.2em;
  font-weight: bold;
  color: #010101; }

.logo {
  position: relative; }
  .logo__link {
    text-decoration: none;
    font-size: 3em;
    font-weight: bold;
    color: #010101;
    padding-left: 60px; }
  .logo::before {
    content: '';
    position: absolute;
    background-image: url("./../../images/logo.png");
    background-repeat: no-repeat;
    width: 50px;
    height: 50px;
    left: 10px;
    top: 0; }

.slider {
  background-color: #fcdb00;
  padding-top: 65px;
  padding-bottom: 100px; }
  .slider__image {
    -webkit-align-self: flex-end;
        -ms-flex-item-align: end;
            align-self: flex-end;
    padding-left: 20px; }
  .slider__description {
    padding-top: 60px; }

.main-heading {
  padding-left: 10px; }
  .main-heading__title {
    font-size: 3.2em;
    color: #010101;
    margin: 0; }
  .main-heading__subtext {
    font-size: 2em;
    color: #313841;
    margin-top: 10px;
    width: 100%;
    max-width: 310px; }
  .main-heading__text {
    font-size: 1.6em;
    color: #555;
    width: 100%;
    max-width: 390px; }

.app__item {
  display: inline-block;
  font-size: 42px;
  color: #010101;
  margin-right: 35px; }

.features {
  padding-top: 110px; }
  .features__heading {
    margin: 0 auto;
    padding-bottom: 90px; }
  .features__heading-title {
    color: #010101; }
  .features__heading-subtext {
    color: #313841; }
  .features__item {
    padding-left: 90px;
    margin-bottom: 90px;
    position: relative; }
    .features__item::before {
      position: absolute;
      font-family: "Font Awesome 5 Free";
      font-weight: 900;
      font-size: 50px;
      color: #010101;
      left: 0; }
  .features__title {
    font-size: 2.2em;
    color: #010101;
    margin-bottom: 10px; }
  .features__desc {
    font-size: 1.6em;
    color: #898989; }

.heading-second {
  text-align: center; }
  .heading-second__title {
    margin: 0;
    font-size: 3.2em;
    margin-bottom: 15px; }
  .heading-second__subtext {
    padding: 0 20px;
    margin: 0;
    font-size: 2em; }

.features__mob::before {
  content: "\f3cd"; }

.features__lemon::before {
  content: '\f094';
  font-weight: 400; }

.features__folder::before {
  content: '\f07b';
  font-weight: 400; }

.features__tag::before {
  content: '\f121'; }

.features__mail::before {
  content: '\f0e0';
  font-weight: 400; }

.features__bookmark::before {
  content: '\f02e';
  font-weight: 400; }

.contact {
  padding-top: 110px;
  background-color: #010101; }
  .contact__heading {
    margin: 0 auto; }
  .contact__heading-title {
    color: #fcdb00; }
  .contact__heading-subtext {
    color: #898989;
    margin-bottom: 40px; }
  .contact__form {
    margin: 0 auto;
    padding: 0 20px;
    margin-bottom: 79px; }
  .contact__social {
    padding-bottom: 126px; }

.form {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-flow: row nowrap;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap; }
  .form__email {
    width: 100%;
    max-width: 580px;
    height: 50px;
    padding: 0 24px;
    -webkit-border-radius: 5px;
            border-radius: 5px;
    border: none;
    outline: none;
    color: #898989;
    font-size: 1.6em;
    font-family: 'PT Sans', sans-serif;
    margin-right: 21px; }

.social {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center; }
  .social__link {
    font-size: 4.2em;
    color: #fcdb00;
    padding: 0 16px;
    display: block; }

.footer {
  background-color: #010101; }

.menu-list {
  margin: 0;
  padding: 0; }
  .menu-list__item {
    list-style: none;
    padding-left: 0; }
  .menu-list__link {
    text-decoration: none;
    color: #fff;
    font-size: 1.6em;
    line-height: 20px; }
